---
title: Seance sur la plage
---

{% include "header.njk" %}

<main>
  <h2>Photo en bord de mer</h2>
  <p>Voici une page de test pour la section séance photo.</p>
</main>

{% include "footer.njk" %}